alignment_ref: SARS-CoV-2_Wuhan-Hu-1  # virus to use as alignment reference

ref_regions:  # define start/end of regions to compute identity, inclusive
  # The non-nsp nucleotide numbering specifications taken from
  # https://github.com/theosanderson/Codon2Nucleotide/blob/main/src/App.js
  # The nsp nucleotide numbering converted from the protein numbering
  # conversions at the same link
  ORF1a: [266, 13467]
  ORF1b: [13468, 21556]
  spike: [21563, 25385]
  ORF3a: [25393, 26221]
  E: [26245, 26473]
  M: [26523, 27192]
  ORF6: [27202, 27388]
  ORF7a: [27394, 27760]
  ORF7b: [27756, 27888]
  ORF8: [27894, 28260]
  N: [28274, 29534]
  ORF10: [29558, 29675]
  # nsp genes, contained within ORF1a/b
  nsp1: [266, 805]
  nsp2: [806, 2719]
  nsp3: [2720, 8554]
  nsp4: [8555, 10054]
  nsp5 (Mpro): [10055, 10972]
  nsp6: [10973, 11842]
  nsp7: [11843, 12091]
  nsp8: [12092, 12685]
  nsp9: [12686, 13024]
  nsp10: [13025, 13441]
  nsp12 (RdRp): [13442, 16237]
  nsp13: [16238, 18040]
  nsp14: [18041, 19621]
  nsp15: [19622, 20659]
  nsp16: [20660, 21553]

viruses:
  Genbank:
    SARS-CoV-2_Wuhan-Hu-1: MN908947.3  # Wuhan-Hu-1 strain
    RaTG13: MN996532.2
    SARS-CoV-1: AY278488.2  # BJ01 strain
    RacCS271: MW251312
    RacCS264: MW251311
    RacCS253: MW251310
    RacCS224: MW251309
    RacCS203: MW251308
    CoVZC45: MG772933
    CoVZXC21: MG772934
    Rc-0319: LC556375.1
    PrC31: MW703458
    RpYN06: MZ081381
    RmYN05: MZ081376.1
    RmYN08: MZ081378
    RsYN04: MZ081380.1
    GX_PangolinP4L: MT040333
    BANAL-20-52: MZ937000.1
    BANAL-20-236: MZ937003.2
    BANAL-20-247: MZ937004.1
    BANAL-20-116: MZ937002.1
    BANAL-20-103: MZ937001.1
  NGDC:
    RaTG15: https://download.cncb.ac.cn/gwh/Viruses/Severe_acute_respiratory_syndrome-related_coronavirus_7896_GWHBAUM01000000/GWHBAUM01000000.genome.fasta.gz  # 7896
  GISAID:  # these viruses need to be manually downloaded to the indicated files
    RmYN02: data/GISAID/EPI_ISL_412977.fasta
    RShSTT182: data/GISAID/EPI_ISL_852604.fasta
    RShSTT200: data/GISAID/EPI_ISL_852605.fasta
    GD_Pangolin: data/GISAID/EPI_ISL_410721.fasta
